.app {
    & .app__body {
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        padding-top: 90px;
        width: 100%;
        overflow-y: hidden;
        height: 100vh;
    }
}
