@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.sidebarChatRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
    cursor: pointer;

    & .sidebarChatRow__user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        & .sidebarChatRow__avatar {
            width: 40px;
            height: 40px;
        }
        & .sidebarChatRow__info {
            margin-left: 15px;

            & h6 {
                font-family: "Roboto", sans-serif;
                font-size: 0.88rem;
                font-weight: 500;
                text-transform: capitalize;
                color: var(--second-color);
            }
        }
    }

    & .sidebarChatRow__status{
        margin-bottom: 15px;
        margin-right: 10px;
    }

    &:hover h6 {
        color: rgb(70, 66, 66);
    }
    .dark-theme &:hover h6 {
        color: rgb(255, 255, 255);
    }
}
