@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.sidebar {
    // font-family: 'Open Sans', sans-serif;
    position: fixed;
    left: -100%;
    right: 0px;
    top: 103px;
    border-top-right-radius: 10px;
    bottom: 0px;
    width: 100%;
    max-width: 280px;
    height: 100vh;
    // overflow-y: scroll;
    background-color: white;
    z-index: 100;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-right: 2px solid #aaaaaa;

    &.show {
        left: 0px;
    }

    & .sidebar__panels {
        display: flex;
        display: -webkit-flex;
        border-top-right-radius: 10px;
        flex-direction: column;
        background-color: var(--container-color);
        height: 100%;
        & .sidebar__panel {
            border-radius: 10px;
            background-color: var(--container-color-panel);
            margin: 5px 12px 0px;
            padding: 1rem 1rem 0rem 1rem;
            & h3 {
                padding: 0.4rem 0rem;
                font-size: 0.9rem;
                margin-left: 5px;
                color: #adb5bd !important;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(236, 233, 233);
        border-radius: 60px;
    }
}

@media screen and (max-width: 640px) {
    .sidebar {
        & .sidebar__info {
            display: none;
        }
    }
}
