.story{
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 130px;
    min-height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom:5px;
    overflow: hidden;
    & .story__avatar{
        position: absolute;
        bottom:40px;
        left:45px;
        width: 35px;
        height: 35px;
        box-shadow: 0px 0px 0px 1.4px rgb(255, 255,255);
    }
    & h4{
        position: absolute;
        font-weight: 600;
        font-size: 0.85rem;
        bottom:13px;
        left:30px;
        color:white;
    }
}