.container {
    width: 100%;
}

.options {
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 50;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
        top: 60px;
    }
    & .options__item {
        padding: 6px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(170, 170, 170, 0.2);
        }
        & .options__icon {
            color: var(--color-icon);
        }

        &:hover p {
            color: #50b5ff;
        }
        & p {
            padding-left: 10px;
            color: var(--color-icon);
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.message {
    background: var(--bg-color);
    color: var(--title-color);
    height: 86vh;
    width: 100%;

    & .message__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 15px;
        background-color: var(--container-bg-color);

        & .message__info {
            display: flex;
            align-items: center;
            & img{
                border-radius: 50px;
                max-width: 45px;
                max-height: 45px;
                width: 100%;
                height: 100%;
            }

            & p {
                font-weight: 700;
                line-height: 1.5;
                color: var(--title-color);
                padding-left: 15px;
            }
        }

        & .message__actions {
            width: 2.2rem;
            height: 2.2rem;
            font-size: 20px;
            margin: 0 0.313rem 0 0;
            background-color: rgba(131, 203, 255, 0.1) !important;
            color: #50b5ff;
            display: inline-block;
            text-align: center;
            line-height: 2.2rem;
            border-radius: 5px;
            cursor: pointer;

            &::before {
                content: "\22EE";
            }

            &:hover {
                color: #7ac3f8;
            }
        }
    }

    & .message__items {
        display: flex;
        background: var(--bg-color);
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
        height: 76vh;
        width: 100%;
        overflow-y: scroll;

        & .message__item {
            margin-bottom: 40px;
            max-width: 45%;
            & .message__user {
                padding-bottom: 15px;
                display: flex;

                & img {
                    display: inline-block;
                    margin-bottom: 0;
                    height: 40px;
                    width: 40px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    box-shadow: 0 8px 30px #0000000d;
                }

                & div {
                    & h5 {
                        font-size: 14px;
                        color: var(--title-color);
                        font-weight: 700;
                        line-height: 1.3;
                        margin-bottom: 0px;
                    }
                    & div {
                        font-size: 11px;
                        font-weight: 500;
                        color: #aaaaaa;
                        margin-bottom: 0px;
                        position: relative;
                        top: -3px;
                        right: auto;
                        display: inline-block;
                    }
                }
            }

            & .message__sms {
                padding: 14px;
                background-color: #fff;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                position: relative;
                box-shadow: 0 8px 30px #0000000d;
                font-size: 13px;
                color: #000;
                font-weight: 500;
                width: fit-content;
                line-height: 18px;
                z-index: 2;
            }
        }
    }
    & .field {
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
        padding: 30px;
        width: 100%;
        margin-left: -5px;
        background-color: var(--bg-color);
        z-index: 10;

        & p {
            flex: 0.67;
            margin-right: 10px;
            & input {
                outline-color: var(--border-color);
                border-radius: 50px;
                margin: 0px 5px;
                padding: 0px 15px;
                font-size: 16px;
                border: none;
            }
        }
        & button, label {
            border-radius: 50%;
            padding: 6px 8px;
            border: none;
            cursor: pointer;

            &.message__send {
                background-color: #0055ff;
                padding: 10px 10px 5px;

                & .message__send-icon {
                    color: white;
                    font-size: 20px;
                }
            }
        }
        & label{
            background-color: white;
            color:#000;
        }
    }
}
