.login {
    width: 1170px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before{
        content:'';
        position: absolute;
        top:0;
        left:0;right:0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        z-index: -3;
    }

    & .login__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

        & .login__left {
            display: flex;
            align-items: center;

            & h4 {
                padding-top: 5px;
                font-size: 1.2rem;
                color:var(--title-color)
            }
        }

        & .login__right {
            display: flex;
            align-items: center;

            & a {
                margin-left: 30px;
                color:var(--title-color) !important;
            }
            & .login_sign,
            & .login__registration {
                color: black;
                border-radius: 7px;
                padding: 10px 15px;

                &.bg {
                    background-color: #8b5cf6;
                    color: white !important;
                }
            }

            & a:hover {
                color: var(--button-color) !important;
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 75px;
            left: 0;
            right: 0;
            box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
        }
    }

    & footer {
        padding: 20px 0px;
        align-self: center;
        border-top: 1px solid #aaa;
    }
}

@media screen and (max-width: 1200px) {
    .login {
        width: 100%;

        & .login__header {
            & .login__left {
                & h4 {
                    margin-left: 10px;
                }
            }
        }
    }
}
