body.dark-theme{
    --first-color: rgb(221, 217, 217);
    --second-color: hsl(0, 0%, 75%);
    --button-color: #3e8cc4;
    --title-color: hsl(0, 0%, 95%);
    --text-color: #e2dddd;
    --body-color: hsl(0, 0%, 12%);
    --border-color: rgba(68, 68, 68, 0.7);
    --theme-color:#05f;
    --bg-color: #1a2236;
    --bg-post-color:#293145;
    --bg-addpost-color:#293145;
    --container-color: #293145;
    --container-bg-color: #2a3347;
    --container-color-panel:#2a3347;
    --color-icon:#8c91b6;
    --bg-addStory:#293145;
    --color-new-message:#f7ba37;
}

