.is-radius {
    border-radius: 7px;
}

.has-shadows {
    box-shadow: 0px 1px 15px 1px rgba(121, 119, 119, 0.15);
}


.has-text-blue {
    color: #118ee7;
    &:hover {
        color: #f8fbff;
    }
}

:hover.has-background-blue {
    background: #6ba4e9;
    color: white;

    & .has-text-blue{
        color:white;
    }
}

//header
.navbar-item .icon,
.navbar-item .image {
    cursor: pointer;
}

.navbar-end .control .input {
    width: 550px;
    border: none;
}

//header

.dark-theme .is-darkness-container {
    background: var(--container-color) !important;
    color: #f8fbff !important;
}
.dark-theme .is-darkness-bg {
    background: var(--bg-color) !important;
    color: #f8fbff !important;
    outline: none;
    border: none;
}

// box
.box {
    background-color: var(--container-color);
}
